.features__headline {
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54.47px;
    padding: 50px 20px 48px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 60.09px;
    margin-top: 20px;
  }
}
.features__headline p {
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 8px;
  }
}
.features__list-wrapper {
  background-color: @silver;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: @desktop-width) {
    display: flex;
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 20px 258px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding: 37px 30px 27px;
    text-align: right;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    padding: 0 0 34px;
  }
}
.features__item {
  margin-bottom: 13px;
  text-align: center;
  width: 300px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    text-align: left;
  }
  @media (min-width: @desktop-width) {
    width: 240px;
    margin-left: 90px;
    padding-top: 349px;
    line-height: 30px;
    text-align: center;
  }
}
.features__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: 12px;

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
    font-size: 30px;
  }
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: @tablet-width) {
    margin-top: 12px;
    margin-bottom: 16px;
  }
  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
