.form-photo__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.form-photo__button--submit {
  color: @pink;
}
.form-photo__button--reset {
  color: @dark-blue;
  opacity: 0.1;
}
