.form__headline {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
}
.form__label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
}
.form__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}
.form__wrapper--background {
  background-color: @silver;
}
.form__legend {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
}
.form__label-checkbox {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}
.form__label-radio {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}
.form__textarea {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}
.form__button {
  background-color: @green;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @white;
}
.form__splat {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
}
.form__attention {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
}
