.gallery__headline-wrapper{
  padding-top: 45px;
  padding-bottom: 34px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 92px;
    padding-bottom: 38px;
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 49px;
  }
}
.gallery__headline {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
  margin: 0 auto;
  max-width: 500px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}
