.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: @black;
  background-color: @white;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    min-width: 660px;
  }
  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}
.page__header {
  background-color: @black;
  opacity: 0.3;
}
