.prices {
  padding-top: 105px;
  padding-bottom: 38px;
  background-color: @silver;

  @media (min-width: @tablet-width) {
    padding-top: 86px;
    padding-bottom: 69px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 150px;
    padding-bottom: 95px
  }
}
.prices__slider {
  overflow: hidden;
  text-transform: uppercase;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}
.prices__table {
  position: relative;
  left: 33%;
  transform: translateX(-50%);
  transition: left 0.4s linear;

  @media (min-width: @tablet-width) {
    position: static;
    left: auto;
    transform: none;
    @media (min-width: @desktop-width) {
      margin-left: 0;
    }
  }
}
.prices__controls {
  margin-top: 52px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
.prices__controls-button {
  margin-left: 9px;
  margin-right: 10px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  font-style: inherit;
  background-color: fade(@dark-blue, 30%);
  cursor: pointer;
  .prices__controls-button--current {
    box-shadow: 0 0 0 3px @dark-blue;
    background-color: transparent;
    cursor: default;
  }
}
