.promo {
  background-color: @dark-blue;
  padding-top: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-top: 109;
    padding-bottom: 110px;
  }
  @media (min-width: @desktop-width) {
    padding: 114 10px 122px;
  }
}
.promo__wrapper {
  width: 290px;

}
.promo__headline {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: @white;
  text-align: center;
  margin-bottom: 338px;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 0;
    margin-bottom: 31px;
    font-size: 40px;
    line-height: 48px;
    width: 300px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 37px;
    font-size: 50px;
    line-height: 68.09px;
    width: 430px;
    padding-top: 35px;

  }
}
