.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 39px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.socials__item {
  margin: 0 6px;

  @media (min-width: @tablet-width) {
    margin: 0 3px 0 9px;
  }
  @media (min-width: @desktop-width) {
    margin: 0 2px 0 10px;
  }
}
